body{
    background-color:black;
    margin-left: auto;
   

}
h1{
   text-align: center;
   color: white;
   font-size: 4em;
   font-family:monospace
}

#principal{
    display: flex;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60em;
}

.coloresNormales{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:gainsboro;
    height: 70%;
    width: 35%;
    padding-top: 60px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 60px;
    border-radius: 100px;
  
  
   
}

#rojo{
    background-color:red;
    height: 48%;
    width: 48%;
    
    
    
}
#verde{
    background-color:green;
    height: 48%;
    width: 48%;

   
}
#amarillo{
    background-color:yellow;
    height: 48%;
    width: 48%;
    
   
}
#azul{
    background-color:blue;
    height: 48%;
    width: 48%;
   
}
.activoRojo#rojo{
    background-color:rgb(255, 60, 0);
    border-style:solid;
    border-color: black;
    height: 50%;
    width: 50%;
   
    
}
.activoVerde#verde
{
    background-color:chartreuse;
    border-style:solid;
    border-color: black;
    height: 50%;
    width: 50%;
}
.activoAzul#azul{
    background-color:dodgerblue;
    border-style:solid;
    border-color: black;
    height: 50%;
    width: 50%;
}
.activoAmarillo#amarillo{
    background-color:gold;
    border-style:solid;
    border-color: black;
    height: 50%;
    width: 50%;
}

