body{
    background-color: white;
    margin-left: auto;
   

}
h1{
   
   color: darkred;
   font-size: 3em;
}

#principal{
    display: flex;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60em;
}

.coloresNormales{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:violet;
    height: 80%;
    width: 40%;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
  
   
}

#rojo{
    background-color:red;
    height: 48%;
    width: 48%;
    
    
    
}
#verde{
    background-color:green;
    height: 48%;
    width: 48%;

   
}
#amarillo{
    background-color:yellow;
    height: 48%;
    width: 48%;
    
   
}
#azul{
    background-color:blue;
    height: 48%;
    width: 48%;
   
}
.activoRojo#rojo{
    background-color:rgb(255, 60, 0);
    border-style:solid;
    border-color: blanchedalmond;
    height: 50%;
    width: 50%;
   
    
}
.activoVerde#verde
{
    background-color:chartreuse;
    border-style:solid;
    border-color: blanchedalmond;
    height: 50%;
    width: 50%;
}
.activoAzul#azul{
    background-color:dodgerblue;
    border-style:solid;
    border-color: blanchedalmond;
    height: 50%;
    width: 50%;
}
.activoAmarillo#amarillo{
    background-color:gold;
    border-style:solid;
    border-color: blanchedalmond;
    height: 50%;
    width: 50%;
}

